<header>

<div class="container">

    <a href="#" class="logo"><span>H</span>ealth<span>C</span>are.</a>

    <nav class="nav">
        <ul>
            <li><a href="#home">home</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#facility">facility</a></li>
            <li><a href="#review">review</a></li>
            <li><a href="#contact">contact</a></li>
            <li><form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form></li>
        </ul>
    </nav>

    <div class="fas fa-bars"></div>

</div>

</header>